<footer class="footer">
  <small>
    The <a href="https://scary-pirate-19006.herokuapp.com/">Moslem Japan</a>
    by <a href="https://scary-pirate-19006.herokuapp.com/">Shizuoka Mosque Project</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://scary-pirate-19006.herokuapp.com/">News</a></li>
    </ul>
  </nav>
</footer>